# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
dist
/tmp
/out-tsc
/bazel-out

# Node
*/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
/parcel-client/.angular/cache
/parcel-client/.sass-cache/
/parcel-client/connect.lock
/parcel-client/coverage
/parcel-client/libpeerconnection.log
/parcel-client/testem.log
/parcel-client/typings

# System files
.DS_Store
Thumbs.db

# IDE Support
.vscode

# CSharp
parcel-server/*.swp
parcel-server/*.*~
parcel-server/project.lock.json
parcel-server/.DS_Store
parcel-server/*.pyc
parcel-server/nupkg/

# Visual Studio Code
parcel-server/.vscode

# Rider
parcel-server/.idea

# User-specific files
parcel-server/*.suo
parcel-server/*.user
parcel-server/*.userosscache
parcel-server/*.sln.docstates

# Build results
parcel-server/[Dd]ebug/
parcel-server/[Dd]ebugPublic/
parcel-server/[Rr]elease/
parcel-server/[Rr]eleases/
parcel-server/x64/
parcel-server/x86/
parcel-server/build/
parcel-server/bld/
parcel-server/[Bb]in/
parcel-server/[Oo]bj/
parcel-server/[Oo]ut/
parcel-server/msbuild.log
parcel-server/msbuild.err
parcel-server/msbuild.wrn

# Visual Studio 2015
parcel-server/.vs/